DJ_AGENT_ID={{ dj_agent_id }}
DJ_AGENT_GRPC_FILE_ADDR={{ dj_agent_backend_grpc_addr }}
DJ_AGENT_BACKEND_TOKEN={{ dj_agent_backend_token }}
DJ_AGENT_LOG_LEVEL={{ dj_agent_log_level }}
DJ_AGENT_HOST_REPORT_INTERVAL={{ dj_agent_host_report_interval }}
