[Unit]
Description=dj-agent service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/dj-agent/config.env
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dj-agent
ExecStart=/usr/local/bin/dj-agent
Restart=on-failure
RestartSec=5
SuccessExitStatus=0 143 130
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
