asgiref==3.11.1
Django==5.1.4
channels==4.3.2
daphne==4.2.2
django-cors-headers==4.6.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-jwt==1.11.0
mysqlclient==2.2.6
PyJWT==1.7.1
sqlparse==0.5.3
tzdata==2024.2
apscheduler==3.10.1
paramiko==3.4.0
